{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block home %}
active
{% endblock %}

{% block contents %}
    {% if not current_user.is_authenticated %}
        <div class="container-not-logged">
            <h1 class=>You must be logged in to create your list.</h1>
            <div class="homepage-buttons">
                <a href="{{ url_for('login') }}"><button class="btn btn-lg btn-outline-dark">Login</button></a>
                <a href="{{ url_for('register') }}"><button class="btn btn-lg btn-outline-dark">Register</button></a>
            </div>
        </div>
    {% endif %}
    {% for task in tasks %}
        <div class="note-item">
            <div class="container-fluid row">
                <h1 class="note-title col-8"> {{ task.title }}</h1>
                <ul class="nav justify-content-end col-4">
                    <li class="nav-item edit-button">
                        <a href="{{ url_for('edit', task_id=task.id) }}"><i class="fa-solid fa-pencil"></i></a>
                    </li>
                    <li class="nav-item delete-button">
                        <a href="{{ url_for('delete', task_id=task.id) }}"><i class="fa-solid fa-x"></i></a>
                    </li>
                </ul>
                <div class="description-container">
                    {{ task.description | safe() }}
                </div>
                <p><em>entry date: {{ task.entry_date }}</em></p>
            </div>
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <div class="button-container">
        <a href="{{ url_for('add_entry') }}"><button class="btn btn-large btn-outline-dark"> Add new entry </button></a>
    </div>
    {% endif %}

{% endblock %}